$button-width: 271px;
$background-color: rgb(205, 210, 223);
$button-background-color: rgb(245, 245, 245);
$button-text-color: rgb(70, 79, 105);

#container {
  display: block;
  background-color: $background-color;
  padding: 0px;
  margin: auto;
  height: 100vh;

  .background {
    position: fixed;
    width: 100%;
    object-fit: cover;
  }

  .background__button {
    display: flex;
    justify-content: center;
    width: $button-width;
    height: 70px;
    left: 50%;
    margin-left: -$button-width / 2;
    bottom: 40px;
    position: absolute;
    background-color: $button-background-color;
    border-radius: 45px;
    font-size: 16px;
    animation: easein 2s;
    color: $button-text-color;
  }
  .background__button.load {
    opacity: 1;
  }
};

@keyframes easein {
  from{ opacity: 0; }
  to { opacity: 1; }
}

