/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin: 0px;
  padding: 0px;
  background-color: white;
  overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: NotoSansCJKtc-Regular, Roboto, "Helvetica Neue", sans-serif; }

$swiper-button-width: 0px;
$swiper-button-height: 0px;

@mixin swiper-button {
  width: $swiper-button-width !important;
  height: $swiper-button-height !important;
  background-size: cover !important;
  background-size: fit !important;
  outline: none !important;
}

.swiper-button-next {
  @include swiper-button;
  background-image: url('./assets/icon/arrow-right.png') !important;
}

.swiper-button-prev {
  @include swiper-button;
  background-image: url('./assets/icon/arrow-left.png') !important;
}

.swiper.s-wrapper {
  .swiper-wrapper {
    .swiper-slide {
      overflow-y: hidden !important;
    }
  }
}

.swiper.s-wrapper.swiper-container-horizontal {
  .swiper-scrollbar {
    height: 0 !important;
  }
}