<div id="container">
  <div class="text-section">
    <div class="text-section__circles">
        <div *ngFor="let number of [0, 1]"
            id="circle"
        >
        </div>
      </div>
    <div class="text-section__box">
        <p>{{ questionText }}</p>
    </div>
  </div>
  <div class="backgroung-image">
    <img [src]="imagePath" class="__image" />
  </div>
  <div class="buttons" *ngIf="this.isButtonVisible">
    <button mat-button
            *ngFor="let text of buttonsText; let i = index"
            [routerLink]="nextPage[i]"
            class="button"
            (click)="select(i == 0 ? 'a' : 'b')"
    >
    {{ text }}
    </button>
  </div>
</div>